.the-table {
	background-image: url("../img/woodtex2.png");
	background-size: 1530px 1027px;
	border:5px solid #663300;
	border-radius: 10px;
	margin-top: 30px;
	padding: 150px 20px;
	width: 80%;
}

.card {
	color:black;
	background-color: transparent;
	height: 240px;
	padding: 10px;
	margin: 10px;
	float: left;
	

}

.card img{
	width: 174px;
	height: 240px;
	position: relative;
	left: -9%;
	top: -5%;


}

.card.empty {
	/*background-color: #ddd;*/
	/*border: dashed 1px black;*/
	background-image: url("../img/cardback0.png");
	background-size: 174px 245px;
	background-position: -4px -3px;
}
.card.empty.special{

}

.col-sm-2.card {
	width: 11%;
	margin: 10px;
}

.dealer-hand-wrapper, .player-hand-wrapper {
	color: white;
	font-size: 30px;
}

.dealer-hand-wrapper span, .player-hand-wrapper span {
	width: 100%;
	display: block;
	text-align: center;
}

.action-buttons button {
	width: 100%;
	background-color: #0f0f0f;
	color: white;
	margin-top: 30px;
}

#message {
	color: white;
	font-size: 30px;
}

/*img {
	width: 165px;
	height: 240px;

}*/

.action-res-button button {
	width: 100%;
	text-align: center;
	background-color: red;
	color: white;
	margin-top: 50px;
}